body {
    margin:0px;
}

#root > *:not(#navigation-header):not(.no-margin) {
    margin:8px;
}

.carousel{
    transform: scaleY(0.7);
    margin-top: -7%;
}

.personality-image{
    width: 350px;
    height:230px;
    float:left;
}

.personality-title-paper{
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding:30px 100px;
    margin:50px 8px 150px 8px !important;
    background-color: lightsteelblue !important;
}

.personality-image-paragraph{
    width:85%;
    margin-top:0px;
}

.inline-block{
    display:inline-block;
}

.valign-middle{
    vertical-align: middle;
}

.email{
    color: cornflowerblue;
    text-decoration: underline;
}

.footer-icon{
    width:25px;
    height:25px;
    margin: 5px 20px;
}

.footer-container > footer > div{
    text-align: center;
}

.experience-container, .index-paragraph-container{
    margin: 3% !important;
}

.fade-out-image{
    width: 450px;
    height: 250px;
    opacity: 1;
    transition: opacity 1.5s;
}
.hobbies-container:hover {
    .fade-out-image{
        opacity: 0.5;
        transition: opacity 1.5s;
    }
    .hobbies-container-text-center{
        opacity: 1;
        transition: opacity 1.5s;
    }
}

.hobbies-container, .index-container {
    position: relative;
    text-align: center;
    color: white;
    display:inline-flex;
  }

.hobbies-container-text-center, .index-container-text-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }
  .hobbies-container-text-center{
    top: 50%;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 1.5s;
    font-size: 30px !important;
  }
.index-container-text-container{
    top:25%;
  }
.index-container-text-center{
    font-size: 50px !important;
  }
.index-container-text-center-description{
    font-size: 35px !important;
  }

.hobbies-row{
    text-align: center;
    margin: 20px 20px;
  }

.hobbies-title{
    text-align: center;
    padding: 20px 0px;
  }

.grid-color-skyblue{
    background-color:skyblue;
  }

.grid-color-darkgrey{
    background-color:darkgrey;
  }

.grid-color-cadetblue{
    background-color:cadetblue;
  }

.gridListTile-image{
      height:160px !important;
      background-color: white;
      max-width: 400px !important;
  }

.margin-bottom{
    margin-bottom: 30px !important;
  }

.index-picture{
    width:100%;
    opacity:0.85;
}

section > .index-paragraph{
    font-size: 20px;
}